# Python
__pycache__/
*.pyc
.venv/
venv/

# Model dosyaları (büyük / Jetson'a özel)
*.pt
*.engine
*.onnx

# Çalışma çıktıları
orbit_frames/
logs/
dataset/
test_output/
*.csv

# IDE / OS
.vscode/
.idea/
.DS_Store
